<ion-header>
  <ion-navbar color="navbarColor">
    <ion-title>Questões da sala {{sala.id_sala}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
          <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="listasSalas">
    <ion-spinner *ngIf="spinnerON" class="spinnerSalas" name="bubbles"></ion-spinner>
    <!-- {{tamSala}} -->
    <div *ngIf="tamSala > 0;else other_content">      
      <ion-list>          
        <ion-item-sliding *ngFor="let sala of salas"> 
          <!-- <h2>{{sala.id}}</h2> -->
          <ion-item>            
            <h2>Código da Sala: <b>{{sala.id_sala}}</b></h2>
            <h2>{{sala.nome}}</h2>
            <h3>{{sala.disciplina}} {{sala.turma}}</h3>
            <p>{{sala.data | date: "dd/MM/yyyy"}}</p>              
            <div *ngIf="sala.avaliativa == 1" class="eAvaliativa">
              <ion-icon name="md-clipboard" item-end><span>{{sala.nota}}</span></ion-icon>                
            </div>                       
          </ion-item>
          <ion-item-options side="right">
            <button (click)="delSala(sala.id)" ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              <span>Deletar</span>
            </button>
            <button (click)="addQuestoes(sala)" ion-button color="primary">
              <ion-icon name="ios-chatbubbles"></ion-icon>
               <span>Questões</span>
            </button>
            <button (click)="compartilhar(sala)" ion-button color="secondary">
              <ion-icon name="share"></ion-icon>
               <span>Compartilhar</span> 
            </button>              
            <div *ngIf="sala.avaliativa == 1">
              <button (click)="respostasSala(sala.id)" ion-button color="rubi">
                <ion-icon name="md-checkbox-outline"></ion-icon>
                <span>Respostas</span> 
              </button>
            </div>
          </ion-item-options>          
        </ion-item-sliding>        
      </ion-list>
    </div>
    <ng-template #other_content>
      <div class="semsala">Sem salas cadastradas...</div>        
    </ng-template>
</div>
</ion-content>
